$dark-text: #212121;
$white-text: #fff;

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.header-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 35px;
    &__logo {
        font-size: 25px;
        font-weight: 700;
    }
    &__menu-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }
    &__menu-item {
        padding-left: 37px;
    }
    &__menu-link {
        text-decoration: none;
        color: $dark-text;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.8px;
    }
    &__menu-button {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    &__menu-button-img {
        vertical-align: middle;
    }
}

.header-main {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    color: $white-text;
    text-align: center;
    padding-bottom: 68px;
    &__title {
        font-weight: 600;
        font-size: 60px;
        padding-top: 171px;
        margin: 0;
        letter-spacing: 3.1px;
    }
    &__subtitle {
        font-size: 22px;
        font-weight: 400;
        padding-top: 6px;
        letter-spacing: 1.1px;
    }
    &__buttons {
        padding-top: 90px;
    }
    &__btn {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: $white-text;
        letter-spacing: 1.1px;
        margin: 0 11px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &--trans {
            background-color: transparent;
            border: 3px solid $white-text;
            padding: 21px 32px;
        }
        &--green {
            background-color: #00897b;
            border: 3px solid #00897b;
            padding: 21px 42px;
        }
    }
    &__arrow {
        margin-top: 100px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}

.about {
    padding-top: 94px;
    padding-bottom: 110px;
    &__wrap {
        max-width: 1065px;
        margin: 0 auto;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 118px;
    }
    &__item {
        flex-basis: 265px;
        color: $dark-text;
        text-align: center;
    }
    &__item-img-box {
        height: 70px;
        width: 63px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item-title {
        font-size: 20px;
        font-weight: 600;
        padding-top: 11px;
        letter-spacing: 1.1px;
        margin-bottom: 0;
    }
    &__item-text {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.75px;
        line-height: 22px;
        margin-top: 18px;
    }
}

.text {
    max-width: 625px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.3px;
}

.subtitle {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    line-height: 22px;
}

.services {
    background-color: #e4fdf9;
    padding-top: 142px;
    padding-bottom: 88px;
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 111px;
    }
    &__item {
        flex-basis: 370px;
        text-align: center;
        color: $dark-text;
        background-color: #fff;
        margin-bottom: 31px;
        &:hover {
            background-color: #00897b;
            color: $white-text;
            box-shadow: -5px 5px 20px 2px rgba(0, 0, 0, 0.35);
            .services__item-btn {
                border: solid 2px $white-text;
                color: $white-text;
            }
            .services__item-img {
                background-image: url(../img/services-icon-white.png);
            }
        }
    }
    &__item-img {
        background-image: url(../img/services-icon.png);
        background-repeat: no-repeat;
        width: 56px;
        height: 62px;
        display: block;
        margin: 58px auto 34px;
    }
    &__item-title {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 1.1px;
        margin-bottom: 0;
    }
    &__item-text {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        padding: 0 45px;
        letter-spacing: 0.75px;
    }
    &__item-btn {
        background-color: transparent;
        border: 2px solid $dark-text;
        color: $dark-text;
        font-size: 20px;
        font-weight: 600;
        margin-top: 27px;
        padding: 14px 11px;
        letter-spacing: 1px;
        margin-bottom: 49px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}

.works {
    padding-top: 99px;
    padding-bottom: 135px;
    &__buttons {
        max-width: 690px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 111px;
        margin-bottom: 119px;
    }
    &__btn {
        background-color: transparent;
        border: 2px solid #00897b;
        font-size: 20px;
        font-weight: 600;
        color: $dark-text;
        display: block;
        width: 179px;
        height: 55px;
        letter-spacing: 1px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &--active {
            width: 100px;
            background-color: #00897b;
            color: $white-text;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        flex-basis: 370px;
        display: block;
        width: 370px;
        height: 370px;
        margin-bottom: 30px;
        position: relative;
        &:hover {
            &::after {
                content: '';
                background-color: rgba(0, 0, 0, 0.5);
                width: 370px;
                height: 370px;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
            }
            .works__text {
                visibility: visible;
                z-index: 9999;
            }
        }
        &--1 {
            background-image: url(../img/works1.png);
        }
        &--2 {
            background-image: url(../img/works2.png);
        }
        &--3 {
            background-image: url(../img/works3.png);
        }
        &--4 {
            background-image: url(../img/works4.png);
        }
        &--5 {
            background-image: url(../img/works5.png);
        }
        &--6 {
            background-image: url(../img/works6.png);
        }
    }
    &__text {
        font-size: 20px;
        font-weight: 600;
        color: $white-text;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0 auto;
        visibility: hidden;
        position: absolute;
    }
    &__btn-all {
        background-color: #00897b;
        border: 2px solid #00897b;
        color: $white-text;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 20px;
        margin: 100px auto 0;
        display: block;
        padding: 21px 60px;
        letter-spacing: 1px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}

.price {
    background-color: #f0f1f1;
    padding-top: 99px;
    padding-bottom: 124px;
    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 125px;
    }
    &__item {
        flex-basis: 370px;
        background-color: $white-text;
        text-align: center;
        background-image: url(../img/price-plan-bg.png);
        background-repeat: no-repeat;
        background-position: top;
        &:hover {
            box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.35);
            .price__item-btn {
                color: $white-text;
                background-color: #00897b;
                border: 2px solid #00897b;
            }
        }
    }
    &__item-title {
        font-size: 25px;
        font-weight: 400;
        color: $white-text;
        margin-top: 43px;
        margin-bottom: 24px;
        letter-spacing: 1.1px;
    }
    &__item-subtitle {
        font-size: 50px;
        font-weight: 400;
        color: $white-text;
        margin: 0 100px;
        padding-right: 75px;
        letter-spacing: 1.1px;
        position: relative;
        &::before {
            content: '$';
            font-size: 25px;
            position: absolute;
            top: 7px;
            left: 0;
        }
        &::after {
            content: 'per month';
            font-size: 17px;
            position: absolute;
            bottom: 12px;
            right: -7px;
            letter-spacing: 0.75px;
        }
    }
    &__item-list {
        font-weight: 300;
        font-size: 17px;
        color: $dark-text;
        list-style-type: none;
        padding: 0 96px;
        margin-top: 70px;
        letter-spacing: 0.75px;
    }
    &__item-text {
        border-bottom: 1px solid #bfbfbf;
        padding: 32px 0 12px 0;
    }
    &__item-btn {
        font-weight: 600;
        font-size: 20px;
        color: $dark-text;
        padding: 16px 22px;
        background-color: transparent;
        border: 2px solid #000;
        text-transform: uppercase;
        margin-top: 49px;
        margin-bottom: 64px;
        letter-spacing: 1.1px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}

.team {
    padding-top: 92px;
    padding-bottom: 122px;
    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 127px;
        margin-bottom: 122px;
    }
    &__item {
        flex-basis: 370px;
        text-align: center;
    }
    &__img {
        display: block;
        width: 370px;
        height: 320px;
        background-repeat: no-repeat;
        background-position: top;
        border-radius: 10px;
        &--1 {
            background-image: url(../img/team1.png);
        }
        &--2 {
            background-image: url(../img/team2.png);
        }
        &--3 {
            background-image: url(../img/team3.png);
        }
    }
    &__name {
        font-weight: 600;
        font-size: 20px;
        color: $dark-text;
        margin-top: 34px;
        margin-bottom: 0px;
        letter-spacing: 1px;
    }
    &__position {
        font-weight: 400;
        font-size: 15px;
        color: $dark-text;
        margin-top: 10px;
        margin-bottom: 0;
        letter-spacing: 0.7px;
    }
    &__social {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 0;
        padding: 0px 50px;
    }
    &__social-icon {
        border-radius: 10px;
        &:hover {
            content: '';
            box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.35);
        }
    }
    &__buttons {
        text-align: center;
    }
    &__btn {
        border: none;
        background-color: #00897b;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin: 0 2px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &--active {
            background-color: #3949ab;
        }
    }
}

.blog {
    padding-top: 95px;
    padding-bottom: 125px;
    background-color: #e4fdf9;
    &__items {
        margin-top: 126px;
    }
    &__item {
        display: flex;
        justify-content: flex-start;
        &--reverse {
            justify-content: space-between;
        }
    }
    &__content {
        color: $dark-text;
        max-width: 455px;
        margin-left: 28px;
        &--reverse {
            margin-left: 0;
        }
    }
    &__title {
        margin-top: 57px;
        margin-bottom: 7px;
        letter-spacing: 1.3px;
    }
    &__link {
        font-weight: 600;
        font-size: 25px;
        text-decoration: none;
        color: $dark-text;
        &:hover {
            color: #00897b;
        }
    }
    &__info {
        font-weight: 600;
        font-size: 17px;
        display: flex;
        justify-content: flex-start;
        letter-spacing: 0.75px;
    }
    &__date {
        position: relative;
        margin-left: 33px;
        &::before {
            content: '';
            display: block;
            width: 17px;
            height: 18px;
            background-image: url(../img/date-icon.png);
            position: absolute;
            top: 0;
            left: -30px;
        }
    }
    &__tag {
        position: relative;
        margin-left: 73px;
        &::before {
            content: '';
            display: block;
            width: 15px;
            height: 18px;
            background-image: url(../img/blog-icon.png);
            position: absolute;
            top: 0;
            left: -28px;
        }    
    }
    &__text {
        font-weight: 400;
        font-size: 15px;
        margin-top: 7px;
        line-height: 22px;
        letter-spacing: 0.75px;
        margin-left: 2px;
    }
    &__btn {
        background-color: #00897b;
        border: 2px solid #00897b;
        color: $white-text;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 20px;
        margin: 125px auto 0;
        display: block;
        padding: 21px 50px;
        letter-spacing: 1px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}

.contact {
    background-image: url(../img/form-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    z-index: 0;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0px; left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
        z-index: -1;
        }
    &__content {
        color: $white-text;
        padding-top: 96px;
        padding-bottom: 110px;
    }
    &__list {
        max-width: 955px;
        margin: 99px auto 0;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 1px;
    }
    &__item-img {
        margin-bottom: 31px;
    }
    &__item-text {
        margin: 0 0 6px 0;
    }
    &__form {
        max-width: 1030px;
        height: 550px;
        margin: 71px auto 0;
        position: relative;
    }
    &__form-row {
        border: none;
        border-radius: 10px;
        padding: 35px 58px 33px 23px;
        width: 420px;
        &::placeholder {
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 1px;
        }
    }
    &__form-name {
        position: absolute;
        top: 0;
        left: 0;
        &:focus {
            outline: none;
        }
    }
    &__form-email {
        position: absolute;
        top: 0;
        right: 0;
        &:focus {
            outline: none;
        }
    }
    &__form-message {
        position: absolute;
        width: 100%;
        border: none;
        border-radius: 10px;
        top: 118px;
        padding: 25px 18px 9px 18px;
        box-sizing: border-box;
        resize: none;
        &:focus {
            outline: none;
        }
        &::placeholder {
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 1px;
        }
    }
    &__btn {
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: pointer;
        background-color: $white-text;
        border: none;
        color: $dark-text;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 20px;
        display: block;
        padding: 23px 83px;
        letter-spacing: 1px;
        border-radius: 10px;
        &:focus {
            outline: none;
        }
    }
}

.copyright {
    &__text {
        color: $dark-text;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 20px;
        text-align: center; 
        letter-spacing: 1px;
        margin: 19px 0 20px 0;
    }
}